<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../css/vendor/simple-line-icons.css">
	<link rel="stylesheet" href="../css/vendor/magnific-popup.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- favicon -->
	<link rel="icon" href="favicon.ico">
	<title>Emerald Dragon | Alerts</title>
</head>
<body>

	<!-- FORM POPUP -->
	<div id="promo-popup" class="form-popup promo mfp-hide">
		<!-- CLOSE BTN -->
		<div class="close-btn">
			<!-- SVG PLUS -->
			<svg class="svg-plus">
				<use xlink:href="#svg-plus"></use>
			</svg>
			<!-- /SVG PLUS -->
		</div>
		<!-- /CLOSE BTN -->

		<!-- PROMO BG -->
		<div class="promo-bg"></div>
		<!-- /PROMO BG -->

		<!-- FORM POPUP CONTENT -->
		<div class="form-popup-content">
			<h4 class="popup-title">Enter our Holidays Contest!</h4>
			<p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<p class="info">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo sequat. Duis aute irure dolor in henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			<div class="form-popup-content-links">
				<a href="#" class="button mid dark">Submit your <span class="primary">Entry!</span></a>
				<div class="form-popup-content-links-social">
					<a href="#" class="button mid wfb"></a>
					<a href="#" class="button mid wtwt"></a>
				</div>
			</div>
		</div>
		<!-- /FORM POPUP CONTENT -->
	</div>
	<!-- /FORM POPUP -->


	<!-- SECTION -->
	<div class="section-wrap">
		<div class="section">
			<!-- FORM BOX ITEM -->
			<div class="form-box-item">
				<h4>Alert &amp; Notification Boxes Preview</h4>
				<hr class="line-separator">
				<!-- ALERT BOXES PREVIEW -->
				<div class="alert-boxes-preview">
					<div class="alert-boxes-preview-links">
						<a href="#promo-popup" class="button mid dark promo-popup">
							Preview <span class="primary">Big Promo Box (Popup)</span>
						</a>
					</div>
				</div>
				<!-- /ALERT BOXES PREVIEW -->
			</div>
			<!-- /FORM BOX ITEM -->
        </div>
	</div>
	<!-- /SECTION -->

	<div class="shadow-film closed"></div>

<!-- SVG ARROW -->
<svg style="display: none;">
	<symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
		<path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z"/>
	</symbol>
</svg>
<!-- /SVG ARROW -->

<!-- SVG PLUS -->
<svg style="display: none;">
	<symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect x="5" width="3" height="13"/>
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG PLUS -->

<!-- jQuery -->
<script src="../js/vendor/jquery-3.1.0.min.js"></script>
<!-- Tweet -->
<script src="../js/vendor/twitter/jquery.tweet.min.js"></script>
<!-- xmAlert -->
<script src="../js/vendor/jquery.xmalert.min.js"></script>
<!-- Magnific Popup -->
<script src="../js/vendor/jquery.magnific-popup.min.js"></script>
<!-- Side Menu -->
<script src="../js/side-menu.js"></script>
<!-- User Quickview Dropdown -->
<script src="../js/user-board.js"></script>
<!-- Alerts Demo -->
<script src="../js/alerts-demo.js"></script>
<!-- Alerts Generator -->
<script src="../js/alerts-generator.js"></script>
<!-- Footer -->
<script src="../js/footer.js"></script>
</body>
</html>
