{% macro filter_segment(dictionary,segment) %}
  <ul class="dropdown hover-effect">
    {% for segments in segment %}
    <li class="dropdown-item {{segments.active}}" > <!-- is need treat active -->
      <a href="{{segments.href}}">{{segments.name}}</a>
    </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro filter_item(dictionary) %}
  <div class="sidebar-item">
    <h4>Filter Products</h4>
    <hr class="line-separator">
    <form id="shop_search_form" name="shop_search_form">
      <!-- CHECKBOX -->
      <input type="checkbox" id="filter1" name="filter1" checked>
      <label for="filter1">
        <span class="checkbox primary primary"><span></span></span>
        Cartoon Characters
        <span class="quantity">350</span>
      </label>
      <!-- /CHECKBOX -->

      <!-- CHECKBOX -->
      <input type="checkbox" id="filter2" name="filter2" checked>
      <label for="filter2">
        <span class="checkbox primary"><span></span></span>
        Flat Vector
        <span class="quantity">68</span>
      </label>
      <!-- /CHECKBOX -->

      <!-- CHECKBOX -->
      <input type="checkbox" id="filter3" name="filter3" checked>
      <label for="filter3">
        <span class="checkbox primary"><span></span></span>
        People
        <span class="quantity">350</span>
      </label>
      <!-- /CHECKBOX -->

      <!-- CHECKBOX -->
      <input type="checkbox" id="filter4" name="filter4">
      <label for="filter4">
        <span class="checkbox primary"><span></span></span>
        Animals
        <span class="quantity">68</span>
      </label>
      <!-- /CHECKBOX -->

      <!-- CHECKBOX -->
      <input type="checkbox" id="filter5" name="filter5">
      <label for="filter5">
        <span class="checkbox primary"><span></span></span>
        Objects
        <span class="quantity">350</span>
      </label>
      <!-- /CHECKBOX -->

      <!-- CHECKBOX -->
      <input type="checkbox" id="filter6" name="filter6" checked>
      <label for="filter6">
        <span class="checkbox primary"><span></span></span>
        Backgrounds
        <span class="quantity">68</span>
      </label>
      <!-- /CHECKBOX -->
    </form>
  </div>
{% endmacro %}

{% macro filter_category(dictionary,all_category) %}
  <div class="sidebar-item">
  <h4>File Types</h4>
  <hr class="line-separator">
  <!-- CHECKBOX -->
  <input type="checkbox" id="ft1" name="ft1" form="shop_search_form">
  <label for="ft1">
    <span class="checkbox primary"><span></span></span>
    Photoshop PSD
    <span class="quantity">72</span>
  </label>
  <!-- /CHECKBOX -->

  <!-- CHECKBOX -->
  <input type="checkbox" id="ft2" name="ft2" form="shop_search_form" checked>
  <label for="ft2">
    <span class="checkbox primary"><span></span></span>
    Illustrator AI
    <span class="quantity">254</span>
  </label>
  <!-- /CHECKBOX -->

  <!-- CHECKBOX -->
  <input type="checkbox" id="ft3" name="ft3" form="shop_search_form" checked>
  <label for="ft3">
    <span class="checkbox primary"><span></span></span>
    EPS
    <span class="quantity">138</span>
  </label>
  <!-- /CHECKBOX -->

  <!-- CHECKBOX -->
  <input type="checkbox" id="ft4" name="ft4" form="shop_search_form" checked>
  <label for="ft4">
    <span class="checkbox primary"><span></span></span>
    SVG
    <span class="quantity">96</span>
  </label>
  <!-- /CHECKBOX -->

  <!-- CHECKBOX -->
  <input type="checkbox" id="ft5" name="ft5" form="shop_search_form">
  <label for="ft5">
    <span class="checkbox primary"><span></span></span>
    InDesign INDD
    <span class="quantity">102</span>
  </label>
  <!-- /CHECKBOX -->
</div>
{% endmacro %}

{% macro filter_price_range(dictionary) %}
  <div class="sidebar-item range-feature">
    <h4>Price Range</h4>
    <hr class="line-separator spaced">
    <input type="hidden" class="price-range-slider" value="500" form="shop_search_form">
    <button form="shop_search_form" class="button mid primary">Update your Search</button>
  </div>
{% endmacro %}
