{% macro up_file() %}
  <div class="input-container">
    <label class="rl-label required">Upload Main File</label>
    <!-- UPLOAD FILE -->
    <div class="upload-file">
      <div class="upload-file-actions">
        <a href="#" class="button dark-light">Upload File...</a>
        <p>Pack of Cartoon Illustrations.zip</p>
      </div>
      <div class="upload-file-progress">
        <!-- BADGE PROGRESS -->
        <div class="upload-bar">
          <div class="upload-pg1"></div>
        </div>
        <!-- /BADGE PROGRESS -->
        <p class="text-header">46%</p>
        <a href="#" class="button dark-light square">
          <img src="../images/dashboard/close-icon-small.png" alt="close-icon">
        </a>
      </div>
    </div>
    <!-- UPLOAD FILE -->
  </div>
{% endmacro %}
