{% macro filter_type(dictionary) %}
  <ul class="dropdown hover-effect">
  <li class="dropdown-item">
    <a href="#">Digital Graphics</a>
  </li>
  <li class="dropdown-item active">
    <a href="#">Illustration</a>
  </li>
  <li class="dropdown-item">
    <a href="#">Web Design</a>
  </li>
  <li class="dropdown-item">
    <a href="#">Stock Photography</a>
  </li>
  <li class="dropdown-item">
    <a href="#">Code and Plugins</a>
  </li>
</ul>
{% endmacro %}
